

@model IEnumerable<Model.Models.Home.ServiceReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int srNo = 0;
}

<style>
    table.table-dats thead tr {
        background: #001f57;
        color: #FFFFFF;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

        table.table-dats thead tr th div.fht-cell {
            display: none;
        }

    .dt-buttons {
        display: none;
    }

    .panel {
        padding-top: 30px;
    }

    .table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
        position: sticky;
        top: 0;
        white-space: nowrap;
    }

    table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after {
        bottom: 35% !important;
    }
</style>
@*<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/r-2.1.1/datatables.min.css'>*@
@*<link href="~/js/ExportJs/CSS/bootstrap.min.css" rel="stylesheet" />*@
<link href="~/js/ExportJs/CSS/datatables.min.css" rel="stylesheet" />
<link href="~/js/ExportJs/style.css" rel="stylesheet" />


<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">List</li>
    </ol>
</div>


<div class="row">
    <div class="col-md-12">

        @if (TempData["Success"] != null)
        {
            <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
            <script>
                var form = document.getElementById("AddDepartment");
                form.reset();
            </script>
        }

        @if (TempData["Failure"] != null)
        {
            <p class="alert alert-danger" id="failureMessage">@TempData["Failure"]</p>
        }
        <div class="row" style="padding-top:20px;">

            <div class="col-md-4">
                <label>Request Type</label>
                @Html.DropDownList("ReportType", (SelectList)ViewBag.RequestType, "All", new { @class = "form-control form-control-lg", @id = "ReportType", autofocus = "autofocus" })
            </div>
            <div class="col-md-4">
                <label>Request Status</label>
                @Html.DropDownList("RequestStatus", (SelectList)ViewBag.status, "All", new { @class = "form-control form-control-lg", @id = "RequestStatus", autofocus = "autofocus" })
            </div>
            <div class="col-md-4">
                <label>Organization</label>
                @Html.DropDownList("organization", (SelectList)ViewBag.organization, "All", new { @class = "form-control form-control-lg", @id = "organization", autofocus = "autofocus" })
            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>Severity</label>
                @Html.DropDownList("Severity", (SelectList)ViewBag.Severity, "All", new { @class = "form-control form-control-lg", @id = "Severity", autofocus = "autofocus" })
            </div>
            <div class="col-md-4">
                <label>Category</label>
                @Html.DropDownList("Category", (SelectList)ViewBag.Category, "All", new { @class = "form-control form-control-lg", @id = "CategoryID", autofocus = "autofocus" })
            </div>
            <div class="col-md-4">
                <label>Sub Category</label>
                @Html.DropDownList("SubCategory", (SelectList)ViewBag.SubCategory, "All", new { @class = "form-control form-control-lg", @id = "SubCategoryId", autofocus = "autofocus" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label>Date from</label>
                @*@Html.DropDownList("ReportType", (SelectList)ViewBag.status, new { @class = "form-control form-control-lg", @id = "StorageType", autofocus = "autofocus" })*@
                <input type="date" id="createddate" name="Createddate" class="form-control form-control-lg" />
            </div>
            <div class="col-md-4">
                <label>Date To</label>
                @*@Html.DropDownList("ReportType", (SelectList)ViewBag.status, new { @class = "form-control form-control-lg", @id = "StorageType", autofocus = "autofocus" })*@
                <input type="date" id="createddate2" name="Createddate2" class="form-control form-control-lg" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <input type="button" value="Search" id="Search" onsubmit="SearchReport()" class="btn btn-info" />
            </div>
        </div>
        <br />

        <br>
        <div class="panel panel-default articles">
            <div class="row" style="display:flex;justify-content:space-between;">
                <div>
                    <a href="#!" class="btn btn-primary btn-copy">Copy</a>
                    <a href="#!" class="btn btn-primary btn-csv">CSV</a>
                    <a href="#!" class="btn btn-primary btn-excel">Excel</a>
                    <a href="#!" class="btn btn-primary btn-pdf">PDF</a>
                    <a href="#!" class="btn btn-primary btn-print">Print</a>
                </div>
                <div>
                    @Html.ActionLink("Full Report", "ReportData", "Home", null, new { @class = "btn btn-success align-content-end " })
                </div>
            </div>
            <div class="panel-body articles-container table-size">
                <div class="table-size-a rakeshcc" id="style-3" style="overflow-x:auto;">
                    <!--<h2 class="section-heading"></h2>-->
                    @*@Html.ActionLink("Add Department", "Add", "Department")*@

                    <table width="1200px" id="table_id" class="table table-bordered table-hover flexx_a  tableFixHead table-responsive table-dats" data-toolbar="#toolbar" data-toggle="table"
                           data-search="true"
                           data-filter-control="true"
                           data-show-export="true"
                           data-pagination="false">

                        <thead class="zzzzzzz">
                            <tr class="top-abc">
                                @*<th width="5">Sr.No</th>*@
                                <th width="5">Request Id</th>

                                <th width="5">Report Type</th>
                                <th width="5">Request Status</th>
                                <th width="5">Enterprise</th>
                                <th width="5">Category</th>
                                <th width="5">Sub Category</th>
                                <th width="5">Severity</th>
                                @*<th width="10">Topic</th>
                                    <th width="10">Request Description</th>
                                    <th width="10">Contact PersonName</th>
                                    <th width="10"> EmailId</th>*@
                                <th width="5"> Average Response</th>
                                <th width="5">Average Handling</th>

                                @*<th width="10">Upload Data</th>*@

                            </tr>
                        </thead>
                        <tbody class="yyyyyyy">

                            @foreach (var lstReport in Model)
                            {
                                <tr>
                                    @*<td> @(srNo += 1)</td>*@
                                    <td>@lstReport.RequestId </td>
                                    <td>@lstReport.ReportType </td>
                                    <td>@lstReport.RequestStatus </td>
                                    <td>@lstReport.Enterprise</td>

                                    <td>@lstReport.Category </td>
                                    <td>@lstReport.SubCategory </td>
                                    <td>@lstReport.Severity </td>
                                    @*<td>@lstReport.Topic </td>
                                        <td>@lstReport.RequestDescription </td>
                                        <td>@lstReport.ContactPersonName </td>
                                        <td>@lstReport.EmailId </td>*@
                                    <td>@lstReport.AverageResponse</td>
                                    <td>@lstReport.AverageHandling</td>

                                    @*<td>@lstReport.UploadPath</td>*@

                                </tr>
                            }
                        </tbody>
                    </table>



                </div>

            </div>
        </div>

    </div>

    <!-- content ene -->

</div>

<script src="~/js/dataTables.responsive.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'none';
        $('#table_id').DataTable({
            pagingType: 'full_numbers',
            searching: false,
        });

        $('#CategoryID').change(function () {
            GetSubCatListfun();
        });

        $('#Search').click(function () {
            SearchReport();
        });
    });

    $('#ReportType').change(function () {
        GetCatListfun();
    });
      function GetCatListfun() {
          var reporttypeId = $('#ReportType').val();
        if (reporttypeId == null || reporttypeId == undefined || reporttypeId == "") {
            reporttypeId = 0
        }

        $.ajax({
            type: "post",
            url: "@Url.Action("GetCategoryId", "RequestForm")",
            data: { ReportTypeID: reporttypeId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                console.log(data)
                var contact = $('#CategoryID');
                contact.empty();
                contact.append($('<option></option>').text("--Select--").val(""));
                $.each(data, function (index, item) {
                    if (item.Value == contact)
                        contact.append($('<option selected></option>').text(item.Text).val(item.Value));
                    else
                        contact.append($('<option></option>').text(item.Text).val(item.Value));
                });
                var sub = $('#SubCategoryId');
                sub.empty();
                sub.append($('<option></option>').text("--Select--").val(""));
            }
        });
    }
</script>

<script type="text/javascript">
      function GetSubCatListfun() {
        var categoryId = $('#CategoryID').val();
        if (categoryId == null || categoryId == undefined || categoryId == "") {
            categoryId = 0
        }
        $.ajax({
            type: "post",
            url: "@Url.Action("GetSubCategoryId", "RequestForm")",
            data: { CategoryID: categoryId },
            datatype: "json",
            traditional: true,
            success: function (data) {
                var contact = $('#SubCategoryId');
                contact.empty();
                contact.append($('<option></option>').text("--Select--").val(""));
                $.each(data, function (index, item) {
                    if (item.Value == contact)
                        contact.append($('<option selected></option>').text(item.Text).val(item.Value));
                    else
                        contact.append($('<option></option>').text(item.Text).val(item.Value));
                });
            }
        });
    }
</script>

<script>
    function SearchReport() {

        model = {
            ReportType: $("#ReportType").val(),
            RequestStatus: $("#RequestStatus").val(),
            Enterprise: $("#organization").val(),
            Category: $("#CategoryID").val(),
            Severity: $("#Severity").val(),
            SubCategory: $("#SubCategoryId").val(),
            Createddate: $("#createddate").val(),
            Createddate2: $("#createddate2").val()
        };
        $.ajax({
            type: "post",
            url: "/Home/ServiceReportAJ",
            data: JSON.stringify(model),
            dataType: "json",
            contentType: 'application/json; charset=utf-8',

            success: function (data) {
                var tbodydata = '';
                var count = 1;
                for (var i = 0; i < data.length; i++) {
                    console.log(data);
                    tbodydata += '<tr><td>' + data[i].RequestId + '</td><td>' + data[i].ReportType + '</td><td>' + data[i].RequestStatus + '</td><td>' + data[i].Enterprise + '</td><td>' + data[i].Category + '</td><td>' + data[i].SubCategory + '</td><td>' + data[i].Severity + '</td><td>' + data[i].AverageResponse + ' Hr' + '</td><td>' + data[i].AverageHandling + ' Hr' + '</td></tr >'

                    /*< td > ' + data[i].UploadPath + '</td >*/
                    //< td > ' + count++ + '</td >
                    //<td>' + data[i].Topic + '</td>
                    //<td>' + data[i].RequestDescription + '</td>
                    //<td>' + data[i].ContactPersonName + '</td>
                    //<td>' + data[i].EmailId + '</td>
                }

                $('#table_id').dataTable().fnDestroy();

                $('#table_id tbody').html('')
                $('#table_id tbody').append(tbodydata);

                $('#table_id').show()

                $('#table_id').DataTable({
                    searching: false,
                    "aaSorting": [],
                    "pagingType": "full_numbers",
                    "lengthMenu": [
                        [10, 25, 50, -1],
                        [10, 25, 50, "All"]
                    ],
                    responsive: true,
                    language: {
                        search: "_INPUT_",
                        searchPlaceholder: "Search records",
                    },
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });



                $('.btn-copy').click(function () {
                    $('.buttons-copy').trigger('click');
                });
                $('.btn-csv').click(function () {
                    $('.buttons-csv').trigger('click');
                });
                $('.btn-excel').click(function () {
                    $('.buttons-excel').trigger('click');
                });
                $('.btn-pdf').click(function () {
                    $('.buttons-pdf').trigger('click');
                });
                $('.btn-print').click(function () {
                    $('.buttons-print').trigger('click');
                });
            },
            error: function () {
                $('#errorMsg_' + a).text("Error occured!!");
            }
        });
    }
</script>

<!-- partial -->
@*<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <script src='https://cdn.datatables.net/v/bs/jq-2.2.4/dt-1.10.15/r-2.1.1/datatables.min.js'></script>
    <script src='https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js'></script>
    <script src='http://cdn.datatables.net/buttons/1.3.1/js/buttons.flash.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
    <script src='http://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js'></script>
    <script src='http://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js'></script>
    <script src='http://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js'></script>
    <script src='http://cdn.datatables.net/buttons/1.3.1/js/buttons.print.min.js'></script>*@

<script src="~/js/ExportJs/JS/jquery-2.2.4.min.js"></script>
<script src="~/js/ExportJs/JS/bootstrap.min.js"></script>
<script src="~/js/ExportJs/JS/datatables.min.js"></script>
<script src="~/js/ExportJs/JS/dataTables.buttons.min.js"></script>
<script src="~/js/ExportJs/JS/buttons.flash.min.js"></script>
<script src="~/js/ExportJs/JS/jszip.min.js"></script>
<script src="~/js/ExportJs/JS/pdfmake.min.js"></script>
<script src="~/js/ExportJs/JS/vfs_fonts.js"></script>
<script src="~/js/ExportJs/JS/buttons.html5.min.js"></script>
<script src="~/js/ExportJs/JS/buttons.print.min.js"></script>
<script src="~/js/ExportJs/script.js"></script>

